.mintingView {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  padding-top: 35px;
  padding-bottom: 177px;

  @media (max-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  .nftImg {
    max-width: 743px;
    max-height: 860px;
    width: 100%;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .mintingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;

      .mainGroot {
        width: 225px;
        height: 255px;
        margin-bottom: 21px;
      }

      .textLogo {
        height: 35px;
      }

      .title {
        font-family: "EB Garamond", serif;
        font-size: 50px;
        font-weight: 600;
        text-align: left;
        margin: 0;
        margin-top: 9px;

        @media (max-width: 767px) {
          font-size: 32px;
          margin-bottom: 26px;
        }
      }
    }

    .mintingContent {
      display: flex;
      flex-direction: column;
      max-width: 583px;
      width: 100%;

      > .mintInfoContainer {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
          Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
          "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol", sans-serif;
        font-weight: 500;

        dd {
          margin-inline-start: 0px;
        }

        > .infoContainer {
          display: flex;
          margin-bottom: 19px;

          @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 14px;
          }

          .title {
            width: 160px;
            margin: 0px;
            font-size: 19px;
            font-weight: bold;

            @media (max-width: 767px) {
              font-size: 16px;
              font-weight: 600;
            }
          }

          .caption {
            margin: 0px;
            font-size: 19px;
            font-weight: 500;

            @media (max-width: 767px) {
              font-size: 16px;
              font-weight: 600;
            }
          }

          .walletInfo {
            display: flex;
            align-content: center;
            flex-direction: column;

            .checkImg {
              width: 15px;
              height: 15px;
              margin-right: 6px;
            }

            > p {
              font-size: 19px;
              font-weight: 500;
              margin: 0;

              @media (max-width: 767px) {
                font-size: 12.5px;
              }
            }
          }
        }
      }

      > .buyContainer {
        display: flex;
        align-items: center;

        > .title {
          font-size: 19px;
          font-weight: bold;
          margin: 0px;
          margin-right: 44px;

          @media (max-width: 767px) {
            font-size: 17px;
            font-weight: 600;
          }
        }

        > .buyAmount {
          max-width: 143px;
          border: solid 1px #666;
          background-color: #fff;
          height: 38px;
          padding: 0px 16px;
          font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
            Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
            "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
          font-size: 19px;
          font-weight: 500;

          @media (max-width: 767px) {
            font-family: Pretendard;
            font-size: 12.5px;
            font-weight: 500;
            height: 25px;
          }
        }
      }
      > .buttonContainer {
        > a {
          display: flex;
          text-align: center;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 582;
          height: 79px;
          object-fit: contain;
          background-color: #e0e0d4;
          color: #888;
          font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
            Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
            "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
          font-size: 18.5px;
          font-weight: 500;
          margin-top: 18px;
          text-decoration: none;

          @media (max-width: 767px) {
            font-size: 16.5px;
            font-weight: 600;
            height: 45px;
            background-color: #333;
          }

          &.on {
            background-color: #000;
            color: #fff;
            cursor: pointer;
          }
        }
      }

      > .warningContainer {
        margin-top: 28px;
        font-size: 17px;
        color: #333;
        line-height: 1.47;

        @media (max-width: 767px) {
          font-size: 10px;
        }
      }
    }
  }
}
